<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EasyExpress.Properties.Settings.IASConnection" connectionString="Data Source=SERVER_NAME;Initial Catalog=CATALOG_NAME;Persist Security Info=True;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
        <add name="EasyExpress.Properties.Settings.kadryConnection" connectionString="Data Source=SERVER_NAME;Initial Catalog=CATALOG_NAME;Persist Security Info=True;User ID=sa;Password="/>
    </connectionStrings>
	<appSettings>
		<add key="word_report_path_text" value="C:\KADRY\Кадры-Экспресс"/>
		<add key="viz_ruk1_dol" value=""/>
		<add key="viz_ruk1_zvan" value=""/>
		<add key="viz_ruk1_name" value=""/>
		<add key="viz_ruk2_dol" value=""/>
		<add key="viz_ruk2_zvan" value=""/>
		<add key="viz_isp1_zvan" value=""/>
		<add key="viz_isp2_zvan" value=""/>
		<add key="viz_ruk2_name" value=""/>
		<add key="viz_isp1_name" value=""/>
		<add key="viz_isp2_name" value=""/>
		<add key="calc_on_date" value="01.01.2023"/>
		<add key="script_date" value="01.01.2023"/>
		<add key="reserv_date" value="01.01.2022"/>
		<add key="kadry_connection_edit" value="Data Source=SERVER_NAME;Initial Catalog=CATALOG_NAME;Persist Security Info=True;User ID=sa;Password="/>
		<add key="sql_connection_edit" value="Data Source=SERVER_NAME;Initial Catalog=CATALOG_NAME;Persist Security Info=True;User ID=sa;Password="/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
